/* Style the whole page */

body {
    font-family: arial, sans-serif;

    max-width: 800px;

    background-color: hsl(356, 33%, 74%);

    padding: 50px;
    
}
/* Style the main heading */

h1 {
    color: hsl(299, 97%, 59%);
    font-size: 36px;
    font-family: "Cinzel", serif;
    text-align: center;
    margin-bottom: 20px;
}

    /* Change the text color */


/* Style all paragraphs */

p {
    color: hsl(0, 25%, 27%);
    font-size: 18px;
    line-height: 1.6;
}

    /* Set the text size */


    /* Add space between lines of text */


/* Style all images */

img {
    max-width: 100%;
    width: 200px;
    border-radius: 10px;
    border-left: 5px solid hsl(299, 97%, 59%);
    border-right: 5px solid hsl(299, 97%, 59%);
    border-top: 5px solid hsl(299, 97%, 59%);
    border-bottom: 5px solid hsl(299, 97%, 59%);
}


    /* Prevent images from becoming wider than their container */


    /* Round the corners of images */

/* Style all links */

    /* Change the link color */

a {
    color: hsl(348, 26%, 34%);
    text-decoration: none;
}


/* Style links when the mouse is over them */

    /* Remove the underline from links */