/* napin ulkoasun säätäminen */
button {
    background-color: #ff6db6; /* taustaväri */
    color: white; /* teksti */
    padding: 10px 20px; /* sisäiset marginaalit */
    border: none; /* ei reunusta */
    border-radius: 5px; /* pyöristetyt kulmat */
}